

*{direction: rtl;}
@font-face {
  font-family: "shabnam";
  src: url("../webfonts/shabnam/Shabnam.woff") format("woff"), url("../webfonts/shabnam/Shabnam.ttf") format("truetype"), url("../webfonts/shabnam/Shabnam.eot") format("eot");
}
@font-face {
  font-family: "bnazanin";
  src: url("../webfonts/myfont/BNazanin/BNazanin.woff") format("woff"), url("../webfonts/myfont/BNazanin/BNazanin.ttf") format("truetype"), url("../webfonts/myfont/BNazanin/BNazanin.eot") format("eot");
}
@font-face {
  font-family: "byekan";
  src: url("../webfonts/myfont/BYekan/BYekan.woff") format("woff"), url("../webfonts/myfont/BYekan/BYekan.ttf") format("truetype"), url("../webfonts/myfont/BYekan/BYekan.eot") format("eot");
}
@font-face {
  font-family: "roboto";
  src: url("../webfonts/myfont/Roboto/Roboto-Regular.woff") format("woff"), url("../webfonts/myfont/Roboto/Roboto-Regular.ttf") format("truetype"), url("../webfonts/myfont/Roboto/Roboto-Regular.eot") format("eot");
}


* {
  font-family: "byekan";
  font-size: 14px!important;
}
.btn{
  padding: 10px!important;
}
.pad{
  padding: 10px!important;
}

.beautifierstore-form{
  /*direction:rtl;*/
}
.table{max-width: 98%;margin: 0 1%;}
/*رنگ ردیف های جدول*/
.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: rgba(239, 239, 239, 0.8);
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: rgba(255, 255, 255, 0.81);
}
.table > thead > tr > th{
  text-align: center;
}
.table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  word-break: break-all;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{padding: 10px 2px;}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  border-top: 0;
  min-width: 80px;
  background-color: rgb(239, 239, 239);
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 0px;
}
@media (max-width: 993px)
{
  .modal{margin-right: 0!important;}
}
@media(max-width:1327px) {
  .khoy-pad {
    padding: 10px 0 !important;
  }
}
@media(max-width:500px)
{
  .khoy-pad{padding: 10px 0!important;}
  .khoy-name-pad{padding: 8px 0!important;}
  .khoy-img img{height: 100%}
  .khoy-background{padding:0px!important;margin:5%}
  .khoy-main > .content{padding:0!important;}
  *{font-family: "byekan";font-size: 12px!important;}
  .khoy-content1{padding:60px 40px!important;}
}
@media (min-width: 501px)
{
  .khoy-background{padding:89px;margin:-40px;padding-right: 5px}
  .khoy-main > .content{padding:60px 40px}
  *{font-family: "byekan";font-size: 11px!important;}
}

.radio, .checkbox {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  min-width: 100px;
}
.khoy-label{text-align: center}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
}
.form-group {
  margin-bottom: 15px;

  /*display: contents;*/
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
}






.bagbeauti-create,.bagbeauti-update{background-image: url("../img/sidebar-1.jpg");background-repeat: no-repeat;background-size: cover;background-position: center center;}
.bagbeauti-index{background-image: url("../img/sidebar-1.jpg");background-repeat: no-repeat;background-size: cover;background-position: center center;}
.bagbeauti-view{background-image: url("../img/sidebar-1.jpg");background-repeat: no-repeat;background-size: cover;background-position: center center;}

.bagdocrt-create,.bagdocrt-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.bagdocrt-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.bagdocrt-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.bagstore-create,.bagstore-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.bagsrore-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.bagstire-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.beautifierstore-create,.beautifierstore-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.beautifierstore-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.beautifierstore-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.categoryofbeautistore-create,.categoryofbeautistore-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.categoryofbeautistore-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.categoryofbeautistore-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.categoryofstore-create,.categoryofstore-update{/*background-image: url("../img/top.png");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.categoryofstore-index{/*background-image: url("../img/top.png");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.categoryofstore-view{/*background-image: url("../img/top.png");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.delivery-create,.delivery-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.delivery-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.delivery-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.doctorstore-create,.doctorstore-update{/*background-image: url("../img/nobat01.png");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.doctorstore-index{/*background-image: url("../img/nobat01.png");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.doctorstore-view{/*background-image: url("../img/nobat01.png");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.categoryofbeautistore-create,.categoryofbeautistore-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.categoryofbeautistore-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.categoryofbeautistore-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.pricesite-create,.pricesite-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.pricesite-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.pricesite-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.productstore-create,.productstore-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.productstore-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.productstore-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.profile-create,.profile-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.profile-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.profile-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}

.store-create,.store-update{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.store-index{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.store-view{/*background-image: url("../img/sidebar-1.jpg");*/background-repeat: no-repeat;background-size: cover;background-position: center center;}
.khoy-dispay{width: 50%}
@media (max-width: 400px) {
  .khoy-dispay{width: 100%}
}
ul, ol {
  margin-top: 8px;
  margin-bottom: 10px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 1px 3px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: red;
  border-radius: 50%;
}
/*input[type="radio"], input[type="checkbox"] {*/
/*margin: 4px 60px 0;*/
/*}*/
/***************************************************************
.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */





/*.offline-doc .navbar.navbar-transparent {*/
/*padding-top: 25px;*/
/*border-bottom: none;*/
/*}*/

/*.offline-doc .navbar.navbar-transparent .navbar-minimize {*/
/*display: none;*/
/*}*/

/*.offline-doc .navbar.navbar-transparent .navbar-brand,*/
/*.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {*/
/*color: #FFF;*/
/*}*/

/*.offline-doc .footer {*/
/*z-index: 3 !important;*/
/*position: absolute;*/
/*width: 100%;*/
/*background: transparent;*/
/*bottom: 0;*/
/*color: #fff;*/
/*}*/

/*.offline-doc .page-header .content-center {*/
/*z-index: 3;*/
/*}*/

/*.offline-doc .brand .title {*/
/*color: #fff;*/
/*}*/

/*.offline-doc .footer {*/
/*z-index: 3 !important;*/
/*}*/

/*.offline-doc .page-header .container {*/
/*z-index: 3;*/
/*}*/

/*.offline-doc .page-header:after {*/
/*background-color: rgba(0, 0, 0, 0.5);*/
/*content: "";*/
/*display: block;*/
/*height: 100%;*/
/*left: 0;*/
/*position: absolute;*/
/*top: 0;*/
/*width: 100%;*/
/*z-index: 2;*/
/*}*/

/*@media all and (max-width: 991px) {*/
/*.offline-doc .navbar .navbar-collapse.collapse,*/
/*.offline-doc .navbar .navbar-collapse.collapse.in,*/
/*.offline-doc .navbar .navbar-collapse.collapsing {*/
/*display: block !important;*/
/*}*/
/*.nav-open .offline-doc .navbar-wrapper,*/
/*.nav-open .offline-doc .navbar-toggler {*/
/*-webkit-transform: translate3d(-260px, 0, 0);*/
/*-moz-transform: translate3d(-260px, 0, 0);*/
/*-o-transform: translate3d(-260px, 0, 0);*/
/*-ms-transform: translate3d(-260px, 0, 0);*/
/*transform: translate3d(-260px, 0, 0);*/
/*}*/
/*.offline-doc .navbar-wrapper,*/
/*.offline-doc .navbar-toggler {*/
/*-webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);*/
/*-moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);*/
/*-o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);*/
/*-ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);*/
/*transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);*/
/*}*/
/*.offline-doc .navbar .collapse .navbar-nav .nav-item .nav-link {*/
/*margin-left: 15px;*/
/*color: #8b92a9 !important;*/
/*}*/
/*}*/

/*#map {*/
/*z-index: 2;*/
/*height: calc(100vh - 70px);*/
/*margin-top: 70px;*/
/*}*/

/*.bd-docs.dark-edition .bd-example {*/
/*background-color: #1a2035;*/
/*border: 0;*/
/*border-radius: 10px;*/
/*border-bottom-left-radius: 0;*/
/*border-bottom-right-radius: 0;*/
/*}*/

/*.bd-docs.dark-edition {*/
/*background-color: #fff;*/
/*}*/