
/* khoy.CSS 31/12 December 2018 by maryam mohammadkhani */
*{direction: rtl;}
html{box-sizing:border-box;direction: rtl}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;color: #000;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:focus{color:#d802fb;text-decoration:none}
a:active,a:hover{outline-width:0;color: #d800ff;text-decoration: none}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;/*font-size:15px;*/line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.khoy-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"byekan",Arial,sans-serif;font-weight:400;margin:10px 0}.khoy-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.khoy-dark{}
.khoy-image{max-width:100%;height:auto}img{vertical-align:middle}a{  }
.khoy-table,.khoy-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.khoy-table-all{border:1px solid #ccc}
.khoy-bordered tr,.khoy-table-all tr{border-bottom:1px solid #ddd}.khoy-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.khoy-table-all tr:nth-child(odd){background-color:#fff}.khoy-table-all tr:nth-child(even){background-color:#f1f1f1}
.khoy-hoverable tbody tr:hover,.khoy-ul.khoy-hoverable li:hover{background-color:#ccc}.khoy-centered tr th,.khoy-centered tr td{text-align:center}
.khoy-table td,.khoy-table th,.khoy-table-all td,.khoy-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.khoy-table th:first-child,.khoy-table td:first-child,.khoy-table-all th:first-child,.khoy-table-all td:first-child{padding-left:16px}
.khoy-btn,.khoy-button{/*border:2px solid #03aab6;*/display:inline-block;/*padding:8px 16px;*/vertical-align:middle;overflow:hidden;text-decoration:none;color: rgba(68, 123, 73, 0.91);background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.khoy-btn:hover{box-shadow:0 8px 16px 0 rgba(27, 170, 163, 0.2),0 6px 20px 0 rgba(27, 170, 163, 0.36);  color: #9c27b0;}
.khoy-btn,.khoy-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.khoy-disabled,.khoy-btn:disabled,.khoy-button:disabled{cursor:not-allowed;opacity:0.3}.khoy-disabled *,:disabled *{pointer-events:none}
.khoy-btn.khoy-disabled:hover,.khoy-btn:disabled:hover{box-shadow:none}
.khoy-badge,.khoy-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.khoy-badge{border-radius:50%}
.khoy-ul{list-style-type:none;padding:0;margin:0}.khoy-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.khoy-ul li:last-child{border-bottom:none}
.khoy-tooltip,.khoy-display-container{position:relative}.khoy-tooltip .khoy-text{display:none}.khoy-tooltip:hover .khoy-text{display:inline-block}
.khoy-ripple:active{opacity:0.5}.khoy-ripple{transition:opacity 0s}
.khoy-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.khoy-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.khoy-dropdown-click,.khoy-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.khoy-dropdown-hover:hover .khoy-dropdown-content{display:block}
.khoy-dropdown-hover:first-child,.khoy-dropdown-click:hover{background-color:#ccc;color:#000}
.khoy-dropdown-hover:hover > .khoy-button:first-child,.khoy-dropdown-click:hover > .khoy-button:first-child{background-color:#ccc;color:#000}
.khoy-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.khoy-check,.khoy-radio{width:24px;height:24px;position:relative;top:6px}
.khoy-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto;right: 0;background-image: url("./../img/sidebar-2.jpg");background-size: cover;background-position: center center;}/*تغییر*/
.khoy-sidebar::after{position:absolute;background: #1f283e;opacity: .94;width: 100%; height: 100%;content: ""; display: block;  background: #FFFFFF; opacity: .94;}
.khoy-bar-block .khoy-dropdown-hover,.khoy-bar-block .khoy-dropdown-click{width:100%}
.khoy-bar-block .khoy-dropdown-hover .khoy-dropdown-content,.khoy-bar-block .khoy-dropdown-click .khoy-dropdown-content{min-width:100%}
.khoy-bar-block .khoy-dropdown-hover .khoy-button,.khoy-bar-block .khoy-dropdown-click .khoy-button{width:100%;text-align:left;padding:8px 16px}
.khoy-main,#main{transition:margin-right .4s}
.khoy-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.khoy-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.khoy-bar{width:100%;overflow:hidden}.khoy-center .khoy-bar{display:inline-block;width:auto}
.khoy-bar .khoy-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.khoy-bar .khoy-dropdown-hover,.khoy-bar .khoy-dropdown-click{position:static;float:left}
.khoy-bar .khoy-button{white-space:normal}
.khoy-bar-block .khoy-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0;opacity: 0.9;  background-color: #162039;}
.khoy-bar-block.khoy-center .khoy-bar-item{text-align:center}.khoy-block{display:block;width:100%}
.khoy-responsive{display:block;overflow-x:auto}
.khoy-container:after,.khoy-container:before,.khoy-panel:after,.khoy-panel:before,.khoy-row:after,.khoy-row:before,.khoy-row-padding:after,.khoy-row-padding:before,
.khoy-cell-row:before,.khoy-cell-row:after,.khoy-clear:after,.khoy-clear:before,.khoy-bar:before,.khoy-bar:after{content:"";display:table;clear:both}
.khoy-col,.khoy-half,.khoy-third,.khoy-twothird,.khoy-threequarter,.khoy-quarter{float:left;width:100%}
.khoy-col.s1{width:8.33333%}.khoy-col.s2{width:16.66666%}.khoy-col.s3{width:24.99999%}.khoy-col.s4{width:33.33333%}
.khoy-col.s5{width:41.66666%}.khoy-col.s6{width:49.99999%}.khoy-col.s7{width:58.33333%}.khoy-col.s8{width:66.66666%}
.khoy-col.s9{width:74.99999%}.khoy-col.s10{width:83.33333%}.khoy-col.s11{width:91.66666%}.khoy-col.s12{width:99.99999%}
@media (min-width:601px){.khoy-col.m1{width:8.33333%}.khoy-col.m2{width:16.66666%}.khoy-col.m3,.khoy-quarter{width:24.99999%}.khoy-col.m4,.khoy-third{width:33.33333%}
    .khoy-col.m5{width:41.66666%}.khoy-col.m6,.khoy-half{width:49.99999%}.khoy-col.m7{width:58.33333%}.khoy-col.m8,.khoy-twothird{width:66.66666%}
    .khoy-col.m9,.khoy-threequarter{width:74.99999%}.khoy-col.m10{width:83.33333%}.khoy-col.m11{width:91.66666%}.khoy-col.m12{width:99.99999%}}
@media (min-width:993px){.khoy-col.l1{width:8.33333%}.khoy-col.l2{width:16.66666%}.khoy-col.l3{width:24.99999%}.khoy-col.l4{width:33.33333%}
    .khoy-col.l5{width:41.66666%}.khoy-col.l6{width:49.99999%}.khoy-col.l7{width:58.33333%}.khoy-col.l8{width:66.66666%}
    .khoy-col.l9{width:74.99999%}.khoy-col.l10{width:83.33333%}.khoy-col.l11{width:91.66666%}.khoy-col.l12{width:99.99999%}}
.khoy-rest{overflow:hidden}.khoy-stretch{margin-left:-16px;margin-right:-16px}
.khoy-content,.khoy-auto{margin-left:auto;margin-right:auto}.khoy-content{max-width:980px}.khoy-auto{max-width:1140px}/*.khoy-content1{padding:60px 40px;}*/
.khoy-cell-row{display:table;width:100%}.khoy-cell{display:table-cell}
.khoy-cell-top{vertical-align:top}.khoy-cell-middle{vertical-align:middle}.khoy-cell-bottom{vertical-align:bottom}
.khoy-hide{display:none!important}.khoy-show-block,.khoy-show{display:block!important}.khoy-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.khoy-auto{max-width:95%}}
@media (max-width:600px){.khoy-modal-content{margin:0 10px;width:auto!important}.khoy-modal{padding-top:30px}
    .khoy-dropdown-hover.khoy-mobile .khoy-dropdown-content,.khoy-dropdown-click.khoy-mobile .khoy-dropdown-content{position:relative}
    .khoy-hide-small{display:none!important}.khoy-mobile{display:block;width:100%!important}.khoy-bar-item.khoy-mobile,.khoy-dropdown-hover.khoy-mobile,.khoy-dropdown-click.khoy-mobile{text-align:center}
    .khoy-dropdown-hover.khoy-mobile,.khoy-dropdown-hover.khoy-mobile .khoy-btn,.khoy-dropdown-hover.khoy-mobile .khoy-button,.khoy-dropdown-click.khoy-mobile,.khoy-dropdown-click.khoy-mobile .khoy-btn,.khoy-dropdown-click.khoy-mobile .khoy-button{width:100%}}
@media (max-width:768px){.khoy-modal-content{width:500px}.khoy-modal{padding-top:50px}}
@media (min-width:993px){.khoy-modal-content{width:900px}.khoy-hide-large{display:none!important}.khoy-sidebar.khoy-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.khoy-hide-medium{display:none!important}}
@media (max-width:992px){.khoy-sidebar.khoy-collapse{display:none}.khoy-main{margin-left:0!important;margin-right:0!important}.khoy-auto{max-width:100%}}
.khoy-top,.khoy-bottom{position:fixed;width:100%;z-index:1}.khoy-top{top:0}.khoy-bottom{bottom:0}
.khoy-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.khoy-display-topleft{position:absolute;left:0;top:0}.khoy-display-topright{position:absolute;right:0;top:0}
.khoy-display-bottomleft{position:absolute;left:0;bottom:0}.khoy-display-bottomright{position:absolute;right:0;bottom:0}
.khoy-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.khoy-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.khoy-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.khoy-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.khoy-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.khoy-display-container:hover .khoy-display-hover{display:block}.khoy-display-container:hover span.khoy-display-hover{display:inline-block}.khoy-display-hover{display:none}
.khoy-display-position{position:absolute}
.khoy-circle{border-radius:50%}
.khoy-round-small{border-radius:2px}.khoy-round,.khoy-round-medium{border-radius:4px}.khoy-round-large{border-radius:8px}.khoy-round-xlarge{border-radius:16px}.khoy-round-xxlarge{border-radius:32px}
.khoy-row-padding,.khoy-row-padding>.khoy-half,.khoy-row-padding>.khoy-third,.khoy-row-padding>.khoy-twothird,.khoy-row-padding>.khoy-threequarter,.khoy-row-padding>.khoy-quarter,.khoy-row-padding>.khoy-col{padding:0 8px}
.khoy-container,.khoy-panel{padding:0.01em 16px}.khoy-panel{margin-top:16px;margin-bottom:16px}
.khoy-code,.khoy-codespan{font-family:Consolas,"courier new";font-size:16px}
.khoy-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.khoy-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.khoy-card,.khoy-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.khoy-card-4,.khoy-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.khoy-spin{animation:khoy-spin 2s infinite linear}@keyframes khoy-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.khoy-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.khoy-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.khoy-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.khoy-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{right:-300px;opacity:0} to{right:0;opacity:1}}/*تغییر*/
.khoy-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.khoy-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.khoy-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.khoy-animate-input{transition:width 0.4s ease-in-out}.khoy-animate-input:focus{width:100%!important}
.khoy-opacity,.khoy-hover-opacity:hover{opacity:0.60}.khoy-opacity-off,.khoy-hover-opacity-off:hover{opacity:1}
.khoy-opacity-max{opacity:0.25}.khoy-opacity-min{opacity:0.75}
.khoy-greyscale-max,.khoy-grayscale-max,.khoy-hover-greyscale:hover,.khoy-hover-grayscale:hover{filter:grayscale(100%)}
.khoy-greyscale,.khoy-grayscale{filter:grayscale(75%)}.khoy-greyscale-min,.khoy-grayscale-min{filter:grayscale(50%)}
.khoy-sepia{filter:sepia(75%)}.khoy-sepia-max,.khoy-hover-sepia:hover{filter:sepia(100%)}.khoy-sepia-min{filter:sepia(50%)}
.khoy-tiny{font-size:10px!important}.khoy-small{font-size:12px!important}.khoy-medium{font-size:15px!important}.khoy-large{font-size:18px!important}
.khoy-xlarge{font-size:24px!important;float: right;margin:21px}.khoy-xxlarge{font-size:36px!important}.khoy-xxxlarge{font-size:48px!important}.khoy-jumbo{font-size:64px!important}
.khoy-left-align{text-align:left!important}.khoy-right-align{text-align:right!important}.khoy-justify{text-align:justify!important}.khoy-center{text-align:center!important}
.khoy-border-0{border:0!important}.khoy-border{border:1px solid #ccc!important}
.khoy-border-top{border-top:1px solid #ccc!important}.khoy-border-bottom{border-bottom:1px solid #ccc!important}
.khoy-border-left{border-left:1px solid #ccc!important}.khoy-border-right{border-right:1px solid #ccc!important}
.khoy-topbar{border-top:6px solid #ccc!important}.khoy-bottombar{border-bottom:6px solid #ccc!important}
.khoy-leftbar{border-left:6px solid #ccc!important}.khoy-rightbar{border-right:6px solid #ccc!important}
.khoy-section,.khoy-code{margin-top:16px!important;margin-bottom:16px!important}
.khoy-margin{margin:16px!important}.khoy-margin-top{margin-top:16px!important}.khoy-margin-bottom{margin-bottom:16px!important}
.khoy-margin-left{margin-left:16px!important}.khoy-margin-right{margin-right:16px!important}
.khoy-padding-small{padding:4px 8px!important}.khoy-padding{padding:8px 16px!important}.khoy-padding-large{padding:12px 24px!important}
.khoy-padding-16{padding-top:16px!important;padding-bottom:16px!important}.khoy-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.khoy-padding-32{padding-top:32px!important;padding-bottom:32px!important}.khoy-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.khoy-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.khoy-padding-tb{padding-bottom:20px;padding-top:20px}
.khoy-left{float:left!important}.khoy-right{float:right!important}
.khoy-button:hover{color:#000!important;/*background-color:#ccc!important*/}
.khoy-transparent,.khoy-hover-none:hover{background-color:transparent!important}
.khoy-hover-none:hover{box-shadow:none!important}
/* Colors */
.khoy-amber,.khoy-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.khoy-aqua,.khoy-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.khoy-blue,.khoy-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.khoy-light-blue,.khoy-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.khoy-brown,.khoy-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.khoy-cyan,.khoy-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.khoy-blue-grey,.khoy-hover-blue-grey:hover,.khoy-blue-gray,.khoy-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.khoy-green,.khoy-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.khoy-light-green,.khoy-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.khoy-indigo,.khoy-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.khoy-khaki,.khoy-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.khoy-lime,.khoy-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.khoy-orange,.khoy-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.khoy-deep-orange,.khoy-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.khoy-pink,.khoy-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.khoy-purple,.khoy-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.khoy-deep-purple,.khoy-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.khoy-red,.khoy-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.khoy-sand,.khoy-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.khoy-teal,.khoy-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.khoy-yellow,.khoy-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.khoy-white,.khoy-hover-white:hover{color:#0c0c0c!important;/*background-color:#000!important*/}/*تغییر*/
.khoy-black,.khoy-hover-black:hover{color:#fff!important;background-color:#000!important}
.khoy-grey,.khoy-hover-grey:hover,.khoy-gray,.khoy-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.khoy-light-grey,.khoy-hover-light-grey:hover,.khoy-light-gray,.khoy-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.khoy-dark-grey,.khoy-hover-dark-grey:hover,.khoy-dark-gray,.khoy-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.khoy-pale-red,.khoy-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.khoy-pale-green,.khoy-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.khoy-pale-yellow,.khoy-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.khoy-pale-blue,.khoy-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.khoy-text-amber,.khoy-hover-text-amber:hover{color:#ffc107!important}
.khoy-text-aqua,.khoy-hover-text-aqua:hover{color:#00ffff!important}
.khoy-text-blue,.khoy-hover-text-blue:hover{color:#2196F3!important}
.khoy-text-light-blue,.khoy-hover-text-light-blue:hover{color:#87CEEB!important}
.khoy-text-brown,.khoy-hover-text-brown:hover{color:#795548!important}
.khoy-text-cyan,.khoy-hover-text-cyan:hover{color:#00bcd4!important}
.khoy-text-blue-grey,.khoy-hover-text-blue-grey:hover,.khoy-text-blue-gray,.khoy-hover-text-blue-gray:hover{color:#607d8b!important}
.khoy-text-green,.khoy-hover-text-green:hover{color:#4CAF50!important}
.khoy-text-light-green,.khoy-hover-text-light-green:hover{color:#8bc34a!important}
.khoy-text-indigo,.khoy-hover-text-indigo:hover{color:#3f51b5!important}
.khoy-text-khaki,.khoy-hover-text-khaki:hover{color:#b4aa50!important}
.khoy-text-lime,.khoy-hover-text-lime:hover{color:#cddc39!important}
.khoy-text-orange,.khoy-hover-text-orange:hover{color:#ff9800!important}
.khoy-text-deep-orange,.khoy-hover-text-deep-orange:hover{color:#ff5722!important}
.khoy-text-pink,.khoy-hover-text-pink:hover{color:#e91e63!important}
.khoy-text-purple,.khoy-hover-text-purple:hover{color:#9c27b0!important}
.khoy-text-deep-purple,.khoy-hover-text-deep-purple:hover{color:#673ab7!important}
.khoy-text-red,.khoy-hover-text-red:hover{color:#f44336!important}
.khoy-text-sand,.khoy-hover-text-sand:hover{color:#fdf5e6!important}
.khoy-text-teal,.khoy-hover-text-teal:hover{color:#009688!important}
.khoy-text-yellow,.khoy-hover-text-yellow:hover{color:#d2be0e!important}
.khoy-text-white,.khoy-hover-text-white:hover{color:#fff!important}
.khoy-text-black,.khoy-hover-text-black:hover{color:#000!important}
.khoy-text-grey,.khoy-hover-text-grey:hover,.khoy-text-gray,.khoy-hover-text-gray:hover{color:#757575!important}
.khoy-text-light-grey,.khoy-hover-text-light-grey:hover,.khoy-text-light-gray,.khoy-hover-text-light-gray:hover{color:#f1f1f1!important}
.khoy-text-dark-grey,.khoy-hover-text-dark-grey:hover,.khoy-text-dark-gray,.khoy-hover-text-dark-gray:hover{color:#3a3a3a!important}
.khoy-border-amber,.khoy-hover-border-amber:hover{border-color:#ffc107!important}
.khoy-border-aqua,.khoy-hover-border-aqua:hover{border-color:#00ffff!important}
.khoy-border-blue,.khoy-hover-border-blue:hover{border-color:#2196F3!important}
.khoy-border-light-blue,.khoy-hover-border-light-blue:hover{border-color:#87CEEB!important}
.khoy-border-brown,.khoy-hover-border-brown:hover{border-color:#795548!important}
.khoy-border-cyan,.khoy-hover-border-cyan:hover{border-color:#00bcd4!important}
.khoy-border-blue-grey,.khoy-hover-border-blue-grey:hover,.khoy-border-blue-gray,.khoy-hover-border-blue-gray:hover{border-color:#607d8b!important}
.khoy-border-green,.khoy-hover-border-green:hover{border-color:#4CAF50!important}
.khoy-border-light-green,.khoy-hover-border-light-green:hover{border-color:#8bc34a!important}
.khoy-border-indigo,.khoy-hover-border-indigo:hover{border-color:#3f51b5!important}
.khoy-border-khaki,.khoy-hover-border-khaki:hover{border-color:#f0e68c!important}
.khoy-border-lime,.khoy-hover-border-lime:hover{border-color:#cddc39!important}
.khoy-border-orange,.khoy-hover-border-orange:hover{border-color:#ff9800!important}
.khoy-border-deep-orange,.khoy-hover-border-deep-orange:hover{border-color:#ff5722!important}
.khoy-border-pink,.khoy-hover-border-pink:hover{border-color:#e91e63!important}
.khoy-border-purple,.khoy-hover-border-purple:hover{border-color:#9c27b0!important}
.khoy-border-deep-purple,.khoy-hover-border-deep-purple:hover{border-color:#673ab7!important}
.khoy-border-red,.khoy-hover-border-red:hover{border-color:#f44336!important}
.khoy-border-sand,.khoy-hover-border-sand:hover{border-color:#fdf5e6!important}
.khoy-border-teal,.khoy-hover-border-teal:hover{border-color:#009688!important}
.khoy-border-yellow,.khoy-hover-border-yellow:hover{border-color:#ffeb3b!important}
.khoy-border-white,.khoy-hover-border-white:hover{border-color:#fff!important}
.khoy-border-black,.khoy-hover-border-black:hover{border-color:#000!important}
.khoy-border-grey,.khoy-hover-border-grey:hover,.khoy-border-gray,.khoy-hover-border-gray:hover{border-color:#9e9e9e!important}
.khoy-border-light-grey,.khoy-hover-border-light-grey:hover,.khoy-border-light-gray,.khoy-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.khoy-border-dark-grey,.khoy-hover-border-dark-grey:hover,.khoy-border-dark-gray,.khoy-hover-border-dark-gray:hover{border-color:#616161!important}
.khoy-border-pale-red,.khoy-hover-border-pale-red:hover{border-color:#ffe7e7!important}.khoy-border-pale-green,.khoy-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.khoy-border-pale-yellow,.khoy-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.khoy-border-pale-blue,.khoy-hover-border-pale-blue:hover{border-color:#e7ffff!important}
#mySidebar{background-image: url("./../img/sidebar-2.jpg");}
.khoy-dark .khoy-sidebar::after, .khoy-dark {background: whitesmoke; opacity: .94;}
/*.khoy-main{height: 100%; max-height: 100%;position:relative;float:left;width:calc( 100% - 260px) ;transition: 0.33s,cubic-bezier(0.685, 0.0473, 0.346, 1);transition-property:all,all;transition-duration:0.33s,0s;transition-timing-function:ease,cubic-bezier(0.685,0.0473,0.346,1);}*/
.khoy-main > .content {/*margin-top: 70px;padding:60px 40px;*/min-height: calc(100vh - 123px);}
.khoy-nav {display: flex;flex-wrap: wrap;padding-left: 0;margin-bottom: 0;list-style: none;}
.khoy-sidebar .khoy-nav {margin-top: 20px;display: block;padding-right:0}
.khoy-sidebar .khoy-nav li a {margin: 10px 15px 0;border-radius: 3px;/*color: #3C4858;*/padding-left: 10px;padding-right: 10px;text-transform: capitalize;font-size: 13px;padding: 10px 15px;}
.khoy-sidebar .khoy-nav li ul{list-style:none;padding:0}
@media (min-width: 100px)and(max-width: 991px){.khoy-main{width: 100%}}
@media (min-width: 992px){.khoy-main{height: 100%; max-height: 100%;position:relative;float:left;width:calc(100% - 260px);transition: 0.33s,cubic-bezier(0.685, 0.0473, 0.346, 1);transition-property:all,all;transition-duration:0.33s,0s;transition-timing-function:ease,cubic-bezier(0.685,0.0473,0.346,1);}}
.khoy-sidebar-wrapper{position:absolute;height: calc(100vh - 75px);overflow: auto;width: 260px;z-index: 4;padding-bottom: 30px;padding: 0 10%;}
.khoy-ps-container {-ms-touch-action: auto;touch-action: auto;overflow: hidden !important;-ms-overflow-style: none;}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;transform: translateY(4px);
}

.btn:hover, .btn:focus,.btn.focus {color: #9C27B0;text-decoration: none;}.khoy-btn-open{border:none}/*.khoy-background{padding:89px;margin:-40px}*/
@media (min-width: 100px)and(max-width: 500px){.khoy-background{padding:0px!important;margin:-40px}.khoy-main > .content{padding:0!important;}*{font-family: "byekan";font-size: 12px!important;}.khoy-content1{padding:60px 40px!important;}}@media (min-width: 501px){.khoy-background{padding:89px;margin:-40px}.khoy-main > .content{padding:60px 40px}}
.khoy-scrull{overflow:scroll;white-space: -moz-pre-space;overflow-y:hidden;}.khoy-scrull.table{color:white;text-align:center;padding:14px;text-decoration:none;}.khoy-scrull.table:hover{background-color:#777;}
.khoy-p{margin:0;padding: 20px}

.khoy-wrap{margin-top: 30px;/*height: 90vh;*/text-align: right;padding: 10px;}
.khoy-wrap .into-wrap{border: 1px solid #e6e6e6;/*border-bottom: none;border-top: none;*/padding: 10px;box-shadow: -1px -1px 2px -2px rgba(0,0,0,0.1);height: 100px;position: relative;/*text-align: center;*/margin-bottom:40px;}
.khoy-wrap .into-wrap img{width: 100%;height:100%}
.khoy-wrap .into-wrap h2{font-size: 20px;font-family: "byekan"!important;line-height: normal;font-weight: bold;text-align: center;}
.khoy-wrap .into-wrap h3{font-size: 14px;font-family: "byekan"!important;line-height: normal;font-weight: bold;text-align: center;}
.khoy-wrap .into-wrap p,a {font-size: 12px !important;text-align: center;font-weight: normal}
.khoy-wrap .into-wrap a{position: absolute;bottom: 20px;}
.khoy-wrap .into-wrap .p{word-break:break-all;overflow: hidden;padding: 5px;font-size: 13px!important;color: #191E21;}
.khoy-del{color: #C83142;left: 30px;border: 1px solid #C83142;padding:5px 20px;}
.khoy-upd{color: green;right: 30px;border: 1px solid green;padding:5px 10px;}.khoy-img{height:100%}.khoy-pad{padding:40px 0;display:inline-block}.khoy-name-pad{padding:19px 0}
.khoy-turn{height:200px;overflow:auto;box-shadow:0 0 6px#eee;padding:1%;margin:1%;}
.khoy-black-color{color:black}
/* start modal*/
input[type=text],input[type=password]{width:100%;padding: 15px;margin: 5px 0 22px 0;display:inline-block;border:none;background:#fcfcfc;}
input[type=text]:focus, input[type=password]:focus {background-color: #ddd;outline: none;}
button {background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;cursor:pointer;opacity:0.9;}
button:hover {opacity:1;}
.cancelbtn {padding:14px 20px;background-color:#f44336;}.cancelbtn,.signupbtn{float:left;width:50%;}.container {padding:16px;}
.modal {display: none; position: fixed;z-index:3;left:0;top:0;overflow:auto;background-color: #474e5d;padding-top:50px;margin-right:250px;color:#000}
.modal-content {background-color: #fefefe;margin: 5% auto 15% auto;border: 1px solid #888;width: 80%;}
hr {border: 1px solid #f1f1f1;margin-bottom: 25px;}
.close {position:absolute;right:35px;top:15px;font-size:40px;font-weight:bold;color:#f1f1f1;}.close:hover,.close:focus{color:#f44336;cursor:pointer;}
.clearfix::after{content: "";clear: both;display:table;}
@media screen and(max-width:300px){.cancelbtn,.signupbtn {width: 100%;}
}


/*end modal*/
@charset "UTF-8";
/*!
 *
 * bttn.css - https://ganapativs.github.io/bttn.css
 * Version - 0.2.4
 * Demo: https://bttn.surge.sh
 *
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Ganapati V S (@ganapativs)
 *
 */
/* standalone - .bttn-unite */
.bttn-default {
    color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    color: #1d89ff;
}
.bttn-warning {
    color: #feab3a;
}
.bttn-danger {
    color: #ff5964;
}
.bttn-success {
    color: #28b78d;
}
.bttn-royal {
    color: #bd2df5;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
}
.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}
.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}
.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}
.bttn-unite {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #1d89ff;
    border-radius: 7px;
    background: #fff;
    color: #1d89ff;
    -webkit-transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-unite:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: #d6e3ff;
    content: '';
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(-110%, -10%, 0) skewX(-20deg);
    transform: translate3d(-110%, -10%, 0) skewX(-20deg);
}
.bttn-unite:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: rgba(214,227,255,0.7);
    content: '';
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(110%, -10%, 0) skewX(-20deg);
    transform: translate3d(110%, -10%, 0) skewX(-20deg);
}
.bttn-unite:hover,
.bttn-unite:focus {
    box-shadow: 0 1px 8px rgba(58,51,53,0.3);
    color: #1d89ff;
    -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-unite:hover:before,
.bttn-unite:focus:before {
    opacity: 1;
    -webkit-transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(-50%, -10%, 0) skewX(-20deg);
    transform: translate3d(-50%, -10%, 0) skewX(-20deg);
}
.bttn-unite:hover:after,
.bttn-unite:focus:after {
    opacity: 1;
    -webkit-transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(50%, -10%, 0) skewX(-20deg);
    transform: translate3d(50%, -10%, 0) skewX(-20deg);
}
.bttn-unite.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}
.bttn-unite.bttn-xs:hover,
.bttn-unite.bttn-xs:focus {
    box-shadow: 0 1px 4px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}
.bttn-unite.bttn-sm:hover,
.bttn-unite.bttn-sm:focus {
    box-shadow: 0 1px 6px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}
.bttn-unite.bttn-md:hover,
.bttn-unite.bttn-md:focus {
    box-shadow: 0 1px 8px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
}
.bttn-unite.bttn-lg:hover,
.bttn-unite.bttn-lg:focus {
    box-shadow: 0 1px 10px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-default {
    border-color: #1d89ff;
    color: #1d89ff;
}
.bttn-unite.bttn-default:hover,
.bttn-unite.bttn-default:focus {
    background: #d6e3ff;
    color: #1d89ff;
}
.bttn-unite.bttn-default:before {
    background: #a7c3ff;
}
.bttn-unite.bttn-default:after {
    background: #d6e3ff;
}
.bttn-unite.bttn-primary {
    border-color: #1d89ff;
    color: #1d89ff;
}
.bttn-unite.bttn-primary:hover,
.bttn-unite.bttn-primary:focus {
    background: #1d89ff;
    color: #fff;
}
.bttn-unite.bttn-primary:before {
    background: #006de3;
}
.bttn-unite.bttn-primary:after {
    background: #1d89ff;
}
.bttn-unite.bttn-warning {
    border-color: #feab3a;
    color: #feab3a;
}
.bttn-unite.bttn-warning:hover,
.bttn-unite.bttn-warning:focus {
    background: #feab3a;
    color: #fff;
}
.bttn-unite.bttn-warning:before {
    background: #f89001;
}
.bttn-unite.bttn-warning:after {
    background: #feab3a;
}
.bttn-unite.bttn-danger {
    border-color: #ff5964;
    color: #ff5964;
}
.bttn-unite.bttn-danger:hover,
.bttn-unite.bttn-danger:focus {
    background: #ff5964;
    color: #fff;
}
.bttn-unite.bttn-danger:before {
    background: #ff1424;
}
.bttn-unite.bttn-danger:after {
    background: #ff5964;
}
.bttn-unite.bttn-success {
    border-color: #28b78d;
    color: #28b78d;
}
.bttn-unite.bttn-success:hover,
.bttn-unite.bttn-success:focus {
    background: #28b78d;
    color: #fff;
}
.bttn-unite.bttn-success:before {
    background: #209271;
}
.bttn-unite.bttn-success:after {
    background: #28b78d;
}
.bttn-unite.bttn-royal {
    border-color: #bd2df5;
    color: #bd2df5;
}
.bttn-unite.bttn-royal:hover,
.bttn-unite.bttn-royal:focus {
    background: #bd2df5;
    color: #fff;
}
.bttn-unite.bttn-royal:before {
    background: #a20bdd;
}
.bttn-unite.bttn-royal:after {
    background: #bd2df5;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 1px 3px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: red;
    border-radius: 50%;
}