

@font-face {
    font-family: 'BYekan';
    src:  url('../fonts/fonts/BYekan.woff') format('woff'),
    url('../fonts/fonts/BYekan.eot') format('eot'),
    url('../fonts/fonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "BYekan" !important;
}
h1{
    font-family: "BYekan" !important;
}
#wrapper{
    font-family: "BYekan" !important;
}