.english{
    direction: rtl;
}
.noMargin{
    margin-left: 0;
    margin-right: 0;
}
.noPadding{
    padding-right: 0;
    padding-left: 0;
}
.total{
    background-color: #eff4f5;
}
.header{
    height: 50px;
    background: #264F73;
}
.phone{
    font-family: BYekan;
    color:#ffffff;
    margin-left: 10px;
}
.socialnetwork{
    font-size: 20px;
    margin-right: 20px;
    color:#ffffff;
}

#menu_total {
    z-index: 2;
    background-color: #eff4f5;
    position: fixed;
    /* top: -50px; */
    width: 100%;
    transition: top 0.3s;
}


.menu_total{
    height: 140px;
    background-color: #eff4f5
}

.menu{
    align-items: center;
    width: 100%;
    display: inline-flex;
    direction: ltr;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}


.menu li{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu li:hover{
    cursor: pointer;
}

.menu_icon{
    margin-left: 10px;
}



.menu li a{
    font-family: BYekan;
    font-weight: bold;
    color:#353535
}
.menu li a:hover{
    font-weight: bold;
    text-decoration: none;
    color:#353535
}

. drop_down1{
    background: white;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25px;
    z-index: 2;
    right: 11%;
    display: none;
    border-radius: 5px;
    border-left: solid 2px red;
    border-bottom: solid 2px red;
}
.drop_down2{
    background: white;
    width: 200px;
    /* height: 200px; */
    position: absolute;
    top: 25px;
    z-index: 2;
    right: 22%;
    display: none;
    border-radius: 5px;
    border-left: solid 2px red;
    text-align: right;
    border-bottom: solid 2px red;
}

.drop_down2 p{
    margin-bottom: 5px;
    padding-right: 10px;
    width: 100%;
    font-family: BYekan;
    height: 30px;
    display:inline-flex;
    align-items: center;
    justify-content: flex-end;
    /* margin-right: 10px; */
}

.drop_down2 p:hover{
    cursor: pointer;
    background: #3fbed5;
    color: white;
    background: #3fbed5;
}

.nav{
    color: #353535;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    font-family: BYekan;
}


.back_about_us{
    margin-top: 8%;
    background-image: linear-gradient(#1C768F,#264F73);
    height: 400px;
}

.box_about_us_left{
    height: 200px;
}
.box_about_us_right{
    height: 200px;
    border: 4px solid #ff6943;
}
.box_about_us_title{
    text-align: right;
    font-family: BYekan;
    font-size: 28px;
}
.box_about_us_text{
    text-align: justify;
    font-family: BYekan;
    font-size: 20px;
    direction: rtl;
    color: #ffffff;
}
.about_team{
    background: #fff;
    /* height: 540px; */
}
.aboat_team_tittle{
    text-align: center;
    width: 80%;
    margin-top: 5%;
}
.about_team_total_box{
    margin-top: 20px;
    width: 100%;
    display:inline-flex;
    justify-content: space-around;
    height: auto;
}
.about_team_box{
    margin-top: 15px;
    /* height: 340px; */
    justify-content: center;
    display: flex;
    border:1px solid rgba(0,0,0,.125);
    background-color: #fff;
    border-radius: 5px;
}

.profile_image{
    margin-top: 20px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.about_team_profile{
    text-align: center;
}

.profile_text{
    font-family: BYekan;
}
.profile_margin{
    margin-top: 20px;
}

.aboat_team_tittle > p{
    margin-bottom: 0;
    font-family: BYekan;
    color: red;
    font-size: 20px;
}
.aboat_team_tittle h1{
    font-family: BYekan;
}

.line{
    width: 100px;
    height: 2px;
    background-color: #0c5460;
}

.line_total{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{direction: ltr;margin-top: 5%;background-image: linear-gradient(to left,#264F73 ,#1C768F);}
.cantactus{
    text-align: right;
}

.cantactus_text{
    text-align: justify;
    direction: rtl;
    font-family: BYekan;
    color: #ffffff;
}

.social_footer{
    display: flex;
    justify-content: center;
}

.link > p{
    /* direction: rtl; */
    color: #ff6943;
    font-weight: bold;
    font-size: 20px;
    font-family: BYekan;
}

.link > p > a{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.link > p > span{
    font-size: 15px;
    color: #ffffff;;
    direction: rtl;
    text-align: justify;
}

.news_tottall{
    height: 500px;
    /* background-color: #0f6674; */
}

.news{
    box-shadow: 8px 5px 12px 2px #cccccc;
    border: solid 1px #cccccc;
    border-radius: 5px;
    height: 450px;
    background-color: white;
    justify-content: center;
}
.image_news{
    border-bottom: solid 4px #264F73;
    height: 250px;
    /* background-color: #0b2e13; */
}

.news_text{
    font-family: Byekan;
    margin: 0 auto;
    height: 200px;
    width: 95%;
    direction: rtl;
    text-align: right;
}

.news_text > h6{
    padding-top: 30px;
    /* margin-top: 20px; */
}

.news_text > p{
    direction: ltr;
    font-size: 14px;
    text-align: justify;
    color: #353535;
}

.btn_news_text{
    display: flex;
    align-items: center;
}


.btn_news_text i{
    margin-top: 3px;
    transform: scaleX(-1);
    margin-left: 10px;
    margin-left: 8px;
    /* margin-left: 20px!important; */
}

.btn_news_text a{
    text-decoration: none;
    color: #3fbed5;
}

.btn_news_text a:hover{
    text-decoration: none;
    color: #3fbed5;
}


.btn_news_text a:hover + .d{
    color: red;
    margin-left: 20px;
}
.news_tittle{
    font-family: BYekan;
    margin-top: 3%;
    text-align: center;
}
.back_pro{
    /* position: absolute; */
    width: 100%;
    height: 400px;
    background: url("../images/projeimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #171717;
}

.pro{
    margin-left: 1px;
    margin-top: 20px;
}

.profile_text a{
    color:#3fbed5

}

.profile_text a:hover{
    text-decoration: none;
    color:#3fbed5
}
.banner-bridge-center{position:fixed;display:none;z-index:2;right:60px;bottom:90px}
.scroll-button{position:absolute;width:45px;height:45px;background-color: #ff6943;border-radius:22.5px;left:50%;margin-left:-22.5px;z-index:45;cursor:pointer;text-align:center;font-size:35px;line-height:40px;color:#fff;}
.scroll-button:hover{color:#fff}.scroll-button::after,.scroll-button::before{content:"";position:absolute;left:0;width:45px;height:45px;border: #ff6943 12px solid;opacity:.3;animation:ripple 3s ease-out infinite;border-radius:50%;z-index:-1;}
.scroll-button:after{animation-delay:-.6s}
.scroll-button.scroll-button-floating{position:fixed;bottom:100px;transition:opacity .5s;opacity:0}
.scroll-button.scroll-button-floating.visible{opacity:1}
@keyframes ripple{0%{transform:scale(1);opacity:.75}100%,50%{transform:scale(1.5);opacity:0}}


#menu_icon{
    font-size: 40px;
    color:#3fbed5;
    display: none;
}


.responsive_menu{
    display: none;
    width: 100%;
    margin: 0 auto;
}


#menu_icon:hover{
    cursor: pointer;
    color: #ff6943;
    transition: 1s;
}

.menu_res{
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid;
    width: 88%;
    text-align: right;
    list-style: none;
    padding: 0;
}


.menu_res > li{
    font-family: BYekan;
    border-bottom: 1px solid;
    margin: 0 auto;
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu_res > li a{
    color: #264F73;
    font-weight: bold;
    cursor: pointer;
}
.menu_res > li a:hover{
    text-decoration: none;
    color:#3fbed5;
    transition: 1s;
    font-weight: bold;
}


.drop_res_down1{
    display: none
}


.drop_res_down2{
    display: none
}

.drop_res_down2 li{
    color: #ff6943;
    direction: rtl;
    font-family: BYekan;
    border-bottom: 1px solid;
    margin: 0 auto;
    width: 90%;
    height: 45px;
    /* padding-top: 18px; */
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drop_res_down2 a{
    color: #ff6943;

}
.drop_res_down2 a:hover{
    color: #ff6943;
    cursor: pointer;
    text-decoration: none;

}

#border_buttom{
    border-bottom: none;
}


.f_margin_top{
    margin-top: 20px;
}
.link{
    text-align: left;
}
@media screen and (max-width: 768px) {

    .menu{
        display: none;
    }
    #menu_icon{
        font-size: 40px;
        color:#3fbed5;
        display: block;
    }
    #menu_total{
        display: none!important;
    }

}

@media screen and (max-width: 600px) {
    .social_media{
        display: none!important;
    }
    #phone{
        /* text-align: center; */
        justify-content: center;
    }
    .container{
        width: 100%;
    }
    #about_us{
        display: none!important;
    }
}

@media screen and (max-width: 426px) {

    .menu_res{
        width: 100%;
    }
    h2{
        font-size: 1.5rem;

    }
}





