.box5 {
    margin-top: 25px;
    background: #444;
    position: relative;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    overflow: hidden;
}
.box5:after {
    top: auto;
    left: auto;
    bottom: -80px;
    right: 15px;
    content: "";
}
.box5:before {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #10a5b8;
    position: absolute;
    top: -80px;
    left: 15px;
    opacity: 0;
    z-index: 1;
    transition: all .35s ease;
}
.box5:after{
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #10a5b8;
    position: absolute;
    /* top: -80px; */
    opacity: 0;
    z-index: 1;
    transition: all .35s ease;
}
.box5 img {
    width: 100%;
    transition: all .35s ease-out 0s;
}
.box5 .icon {
    margin: 0;
    position: absolute;
    bottom: 30px;
    right: 50px;
    z-index: 2;
    transform: scale(0);
    transition: all .35s ease-out;
    display: inline-block;
    list-style: none;
    padding: 0;
}
.box5 .icon li {
    display: inline-block;
    list-style: none;
}
.box5 .icon li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    font-size: 18px;
    color: #444;
    margin-right: 10px;
    position: relative;
    transition: all .5s ease 0s;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.box5 .box-content {
    padding: 20px 15px;
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 1;
    font-family: BYekan;
    text-align: center;
}
.box5 .title {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 5px;
    opacity: 0;
    transform: translate(-20px,-20px);
    transition: all .35s ease-out;
    text-transform: uppercase;
}
.box5 .post {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    opacity: 0;
    transform: translate(-20px,-20px);
    transition: all .35s ease-out;
}
.box5:hover:after{
    content: "";
    opacity: .75;
    transform: scale(8);
    transition-delay: .15s;
}

.box5:hover:before {
    content: "";
    opacity: .75;
    transform: scale(8);
    transition-delay: .15s;
}

.box5:hover img {
    opacity: .4;
}
.box5:hover .title {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .15s;
}
.box5:hover .post {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .15s;
}
.box5 .icon li a:hover {
    text-decoration: none;
    background: #444;
    color: #fff;
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .15s;
}

.box5:hover .icon {
    transform: scale(1);
    transition-delay: .15s;
}

.nav_total{
    width: 90%;
}

@media  screen and (max-width: 375px){
    .box5:after{
        content: "";
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #10a5b8;
        position: absolute;
        /* top: -80px; */
        opacity: 0;
        z-index: 1;
        transition: all .35s ease;
    }

}
@media  screen and (max-width: 321px){

    .box5:after{
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #10a5b8;
        position: absolute;
        /* top: -80px; */
        opacity: 0;
        z-index: 1;
        transition: all .35s ease;
    }
    .box5:before{
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #10a5b8;
        position: absolute;
        /* top: -80px; */
        opacity: 0;
        z-index: 1;
        transition: all .35s ease;
    }
    .box5 .icon {
        margin: 0;
        position: absolute;
        bottom: 20px;
        right: 35px;
        z-index: 2;
        transform: scale(0);
        transition: all .35s ease-out;
        display: inline-block;
        list-style: none;
        padding: 0;
    }
    .box5 .box-content {
        left: 0px;
    }
}