.item{
    display: flex;
    border: solid;
    /* width: 100px; */
    align-items: center;
    justify-content: center;
}
#slider2{
    position: absolute;
    width: 60%;
    border-radius: 5px;
    background: #ffffff;
    margin-top: 259px;
    left: 20%;
}