.slide{

}

.slider {
    width: 100%;
    background: url("../../../frontend/web/images/pattern.png");

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 560px;
    height: 350px;
    margin-right: 50px;
}

@media screen and (max-width: 426px){

}